* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(230, 224, 224);
}

.quote {
    background-color: #fff;
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 3rem;
}

.quote-text {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    font-family: "Indie Flower", cursive;
}

.quote-author {
    font-size: 1.5rem;
    color: #414141;
    font-family: "Lobster", cursive;
}

#btn {
    margin: 2.5rem;
    padding: 0.8rem;
    width: 40%;
    border-radius: 0.8rem;
    cursor: pointer;
    border: 0;
    color: #909090;
    font-size: 1.5rem;
}

#btn.active {
    color: #fff;
    background-color: #9932cc;
}

#btn.active:hover {
    background-color: #9932ccd3;
}


/* Loader */

.load {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
}

.loader {
    width: 96px;
    box-sizing: content-box;
    height: 48px;
    background: #fff;
    border-color: #de3500;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
    animation: 3s yinYang linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    border: 18px solid #de3500;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
}

.loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #de3500;
    border: 18px solid #fff;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
}

@keyframes yinYang {
    100% {
        transform: rotate(360deg);
    }
}

.opacity {
    opacity: 0;
    transition: all 0.5s linear;
}

.none {
    display: none;
}